.intro-content {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap: var(--gap);
    min-height: 100vh;
}

.intro-text {
    color: var(--letra-color);
    font-size: 2.3rem;
}

.fachada-img {
    border-radius: 50px;
    box-shadow: 5px 5px 5px 2px rgba(0, 0, 0, 0.8);
    margin-right: 30px;
}

.descricao {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    gap: var(--gap);
    height: 100vh; 
}

.nos-somos-assim {
    max-width: 64rem;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    min-height: 100vh;
    text-align: center;
}

.servicos-majo {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    min-height: 100vh;
}

#servicos {
    font-size: 18px;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: var(--gap)
}

.grid h3 {
    font-size: 3rem;
}

.gallery-img {
    width: 100%;
    max-width: 36rem;
    max-height: 36rem;
    overflow: hidden;
    border-radius: 5px;
}

.gallery-img img {
    transition: all 300ms ease-in-out;
}

.gallery-img img:hover {
    transform: translate(-3%, 3%) scale(1.2) rotate(5deg);
}

.princing {
    color: var(--brown-color);
}

.contact-form {
    grid-column: span 2;
}

.contact-form .form-grid {
    border: none;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: var(--gap);
}

.form-group {
    flex: 1 1 32rem;
    
}

.form-grid legend {
    font-style: italic;
    font-size: 1.6rem;
    margin-bottom: 3rem;
}

.form-group label {
    display: block;
    margin-bottom: 1rem;
}

.form-group input,
.form-group textarea {
    border: none;
    background: var(--brown-color);
    padding: 1.5rem 2rem;
    width: 100%;
    font-size: 2rem;
}

.form-group input:focus,
.form-group textarea:focus {
    box-shadow: 0 0 1.5rem 0.2rem var(--secondary-color);
}

.form-group button{
    border: 0.5rem solid var(--brown-color);
    background: none;
    color: var(--brown-color);
    padding: 0.5rem 1.5rem;
    font-size: 3rem;
    cursor: pointer;
    transition: all 300ms ease-in-out;
}

.form-group button:hover {
    background: var(--brown-color);
    color: var(--primary-color); 
}

.form-group ::placeholder {
    color: var(--letra-color);
}

.footer {
    text-align: center;
}

.footer a {
    color: #444;
}

.heart {
    color: var(--primary-color);
}

.footer p {
    margin: 0;
    padding: 3rem;
}

.close-menu {
    display: none;
}

.back-to-top {
    position: fixed;
    bottom: 2rem;
    right: 2rem;
    background: var(--brown-color);
    width: 6rem;
    height: 6rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: var(--primary-color);
    transform: rotate(-90deg);
}

.franquiado {
    border: 0.2rem solid var(--primary-color);
    background: none;
    text-align: center;
    color: var(--primary-color);
    padding: 0.5rem 1.5rem;
    font-size: 2rem;
    cursor: pointer;
    border-radius: 50px 50px 50px 50px ;
}

.franquiado:hover {
    transition: all 300ms ease-in-out;
    background-color: var(--primary-color);
    color: var(--brown-color);
}
div p {
    font-size: 18px;
    font-style: italic;
}

@media (max-width: 800px) {
    .intro-content, .grid {
        grid-template-columns: 1fr;
    }

    .descricao {
        display: block;
        width: 60vw;
    }
    
    .descricao img {
        width: 100%;
    }

    .gallery-img {
        width: 100%;
        max-width: 100%;
        max-height: 100%;
    }

    .gallery-img img {
        width: 100%;
    }

    .menu {
        bottom: 0;
        text-align: center;
        display: none;
    }

    .menu-content,.menu-content ul{
        flex-direction: column;
        height: 100vh;
    }

    .menu-content {
        justify-content: center;
    }

    .close-menu-label::after {
        content: '≡';
        position: fixed;
        z-index: 2;
        top: 2rem;
        right: 2rem;
        background: var(--primary-color);
        color: var(--brown-color);
        font-size: 3rem;
        line-height: 3rem;
        width: 3rem;
        height: 3rem;
        text-align: center;
        padding: 0.5rem;
        cursor: pointer;
        border-radius: 8px;
    }

    .close-menu:checked~.menu {
        display: block;
    }

    .close-menu:checked~.close-menu-label::after {
        display: block;
        content: '×';
    }

    .menu-spacing {
        display: none;
    }
}